@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: white;
    font-family: "Roboto", sans-serif;
    color: black;
    text-align: center;
    font-size: 250%;
    padding-left: 12.5%;
    padding-right: 12.5%;
}
.google {
    font-size: 250%;
    color: rgb(210, 112, 255);
    font-weight: 3590809340932;
}
.search input[type=text] {
    width: 90%;
    justify-content: left;
    display: flex;
    padding: 20px 20px;
    border: rgb(197, 197, 197) solid 2px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.search input[type=button] {
    width: 10%;
    justify-content: right;
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: rgb(210, 112, 255);
    
}
.search {
    display: flex;
}
button {
    font-size: 75%;
    padding: 20 20;
    background-color: rgb(122, 0, 150);
    color: white;
    border: solid 1px rgb(255, 197, 252);
}
button:hover {
    background-color: white;
    color: rgb(208, 0, 255);
    border: solid 1px rgb(255, 0, 242);
}
#lucky {
    transition: 0.01s all ease-in-out;
}
.load {
    padding-top: 5%;
}
h2 {
    font-size: 150%;
    color: rgb(189, 189, 189);
    font-weight: 0;
}
h3 {
    font-size: 100%;
    color: rgb(189, 189, 189);
    font-weight: 0;
}
input[type=range] {
    width: 75%;
  appearance: none;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;


}
input[type=range]::-webkit-slider-thumb {
  appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #cc00ff;
  cursor: pointer;
}